﻿:root {
    --primaryColor: #32363A;
    --secondaryColor: #FFFFFF;
    --bgMenuActive: #2663BD;
    --bgButton: var(--bgMenuActive);
    /*--logoImageUrl: url('someimagelink');*/
    --bgAside: var(--primaryColor);
}
